.selector {
    width: 100%;
    text-align: right;
    padding: 9px 25px;
    line-height: 1.25;
}

.card-body> * {
    margin-bottom: 10px;
}

.h_iframe-aparat_embed_frame {
    position:relative;
}
.h_iframe-aparat_embed_frame .ratio {
    display:block;
    width:100%;
    height:auto;
}
.h_iframe-aparat_embed_frame iframe {
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
}

.video-aparat {
    display: block;
    padding-top: 57%;
}

.img-question{
    display: block;
    max-height: 70vh;
}

.min-height-container{
    min-height: 70vh;
}

@media screen and (min-width: 768px) {
    .form-check{
        display: block !important;
    }
    .answer-options{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
}