{% extends 'base.html' %}

{% block title %}
<title>انتخاب محتوا</title>
{% endblock %}


{% block content %}
<!-- ============================ Hero Banner  Start================================== -->
<div class="image-cover hero_banner">
    <div class="container">
        <!-- Type -->
        <div class="row align-items-center">
            <div class="col-lg-6 col-md-6 col-sm-12">
                <div class="banner-search-2 transparent">
                    <h1 class="big-header-capt cl_2 mb-2">اولین وب سایت<br> آموزشی آنلاین در ایران</h1>
                    <p>هر موضوعی را در هر زمان مطالعه کنید. هزاران دوره آموزشی را با کمترین قیمت جستجو کنید!</p>
                    <div class="mt-4">
                        <div class="banner-search shadow_high">
                        <div class="search_hero_wrapping">
                        </div>
                    </div>
                    </div>
                </div>
            </div>
            
            <div class="col-lg-6 col-md-6 col-sm-12">
                <div class="flixio pt-5">
                    <img class="img-fluid" src="{{ url_for('static', filename='img/6518.png') }}" alt="">
                </div>
            </div>
            
        </div>
    </div>
</div>
<!-- ============================ Hero Banner End ================================== -->
<input class="d-none" type="hidden" id="user-id" value={{ user.uid }} />
<!-- Row -->
<div class="container">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12">
            <div class="dashboard_container">
                <div class="card">
                    <div class="card-header" id="headingOne">
                    <h1 class="mb-0">
                        انتخاب محتوای آموزشی
                    </h2>
                    </div>
                    <div class="card-body row">
                        <div class=" col-sm-12 col-md-3">
                            <select class="selector px-2 rounded" aria-label="Default select example" id="grade">
                                <option selected>پایه تحصیلی</option>
                                <option value="7">هفتم</option>
                                <option value="8">هشتم</option>
                                <option value="9">نهم</option>
                            </select>
                        </div>   
                        <div class=" col-sm-12 col-md-3"> 
                            <select class="selector px-2 rounded" aria-label="Default select example" id="lesson">
                                <option selected>درس</option>
                                <option value="1">ریاضی</option>
                                <option value="2">علوم</option>
                                <option value="3">مطالعات</option>
                                <option value="3">ادبیات</option>
                                <option value="3">تاریخ</option>
                            </select>
                        </div>
                        <div class=" col-sm-12 col-md-3">   
                            <select class="selector px-2 rounded" aria-label="Default select example" id="session">
                                <option selected>فصل</option>
                                <option value="1">فصل 1</option>
                                <option value="2">فصل 2</option>
                                <option value="3">فصل 3</option>
                                <option value="4">فصل 4</option>
                                <option value="5">فصل 5</option>
                            </select>
                        </div>    
                        <div class=" col-sm-12 col-md-3">
                            <div class="align-items-center text-center">
                                <button class="btn btn-primary w-100 rounded" id="start-btn">شروع</button>
                            </div>
                        </div>
                    </div>
                    
                    <div class="mr-5 d-none" id="warning-text">
                        <p class="text-danger">انتخاب پایه، درس و فصل ضروری است.</p>
                    </div>
                    <div class="mr-5 d-none" id="not-found-text">
                        <p class="text-danger">برای مورد انتخابی شما محتوایی پیدا نشد!</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>    
<!-- /Row -->
{% endblock %}

{% block js %}
<script src="{{ url_for('static', filename='js/content-info.js') }}"></script>
{% endblock %}
