{% extends 'base.html' %}

{% block title %}
<title>سامانه آموزش تعاملی</title>
{% endblock %}

{% block content %}
<!-- ============================ Hero Banner  Start================================== -->
<div class="image-cover hero_banner">
    <div class="container">
        <!-- Type -->
        <div class="row align-items-center">
            <div class="col-lg-6 col-md-6 col-sm-12">
                <div class="banner-search-2 transparent">
                    <h1 class="big-header-capt cl_2 mb-2">اولین وب سایت<br> آموزشی آنلاین در ایران</h1>
                    <p>هر موضوعی را در هر زمان مطالعه کنید. هزاران دوره آموزشی را با کمترین قیمت جستجو کنید!</p>
                    <div class="mt-4">
                        <div class="banner-search shadow_high">
                        <div class="search_hero_wrapping">
                        </div>
                    </div>
                    </div>
                </div>
            </div>
            
            <div class="col-lg-6 col-md-6 col-sm-12">
                <div class="flixio pt-5">
                    <img class="img-fluid" src="{{ url_for('static', filename='img/6518.png') }}" alt="">
                </div>
            </div>
            
        </div>
    </div>
</div>
<!-- ============================ Hero Banner End ================================== -->
<!-- ============================ Trips Facts Start ================================== -->
<div class="trips_wrap full colored">
    <div class="container">
        <div class="row m-0">
            <div class="col-lg-4 col-md-4 col-sm-12">
                    <div class="trips">
                        <div class="trips_icons">
                            <i class="ti-video-camera"></i>
                        </div>
                        <div class="trips_detail">
                            <h4>100,000 معلم خصوصی با تجربه</h4>
                            <p>با بیست درصد تخفیف تدریس را در کلاس آنلاین تجربه کنید.</p>
                        </div>
                    </div>
                </div>
                
                <div class="col-lg-4 col-md-4 col-sm-12">
                    <div class="trips">
                        <div class="trips_icons">
                            <i class="ti-medall"></i>
                        </div>
                        <div class="trips_detail">
                            <h4>ارائه مدرک معتبر</h4>
                            <p>این موارد کاملاً ساده هستند و به راحتی قابل تشخیص هستند.</p>
                        </div>
                    </div>
                </div>
                
                <div class="col-lg-4 col-md-4 col-sm-12">
                    <div class="trips none">
                        <div class="trips_icons">
                            <i class="ti-infinite"></i>
                        </div>
                        <div class="trips_detail">
                            <h4>دوره آموزشی آنلاین در آموزشگاه</h4>
                            <p>کلاس تدریس خصوصی با معلم خصوصی با امکانات کامل را امتحان کنید.</p>
                        </div>
                    </div>
                </div>
            
            
        </div>
    </div>
</div>
<!-- ============================ Trips Facts Start ================================== -->
<!-- ========================== Featured Category Section =============================== -->
<section class="bg-light">
    <div class="container">

        <div class="row justify-content-center">
            <div class="col-lg-5 col-md-6 col-sm-12">
                <div class="sec-heading center">
                    <p>دسته بندی های منتخب</p>
                    <h2>موضوعات و محورهای آموزشی <span class="theme-cl">پرمنتخب</span></h2>
                </div>
            </div>
        </div>
    
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-6">
                <div class="edu_cat_2 cat-1">
                    <div class="edu_cat_icons">
                        <a class="pic-main" href="#"><img src="{{ url_for('static', filename='img/content.png') }}" class="img-fluid" alt="" /></a>
                    </div>
                    <div class="edu_cat_data">
                        <h4 class="title"><a href="#">مهندسی نرم افزار</a></h4>
                        <ul class="meta">
                            <li class="video"><i class="ti-video-clapper"></i>23 دوره آموزشی</li>
                        </ul>
                    </div>
                </div>							
            </div>
            
            <div class="col-lg-4 col-md-4 col-sm-6">
                <div class="edu_cat_2 cat-2">
                    <div class="edu_cat_icons">
                        <a class="pic-main" href="#"><img src="{{ url_for('static', filename='img/briefcase.png') }}" class="img-fluid" alt="" /></a>
                    </div>
                    <div class="edu_cat_data">
                        <h4 class="title"><a href="#">کسب و کار</a></h4>
                        <ul class="meta">
                            <li class="video"><i class="ti-video-clapper"></i>58 دوره آموزشی</li>
                        </ul>
                    </div>
                </div>							
            </div>
            
            <div class="col-lg-4 col-md-4 col-sm-6">
                <div class="edu_cat_2 cat-3">
                    <div class="edu_cat_icons">
                        <a class="pic-main" href="#"><img src="{{ url_for('static', filename='img/career.png') }}" class="img-fluid" alt="" /></a>
                    </div>
                    <div class="edu_cat_data">
                        <h4 class="title"><a href="#">حسابداری</a></h4>
                        <ul class="meta">
                            <li class="video"><i class="ti-video-clapper"></i>74 دوره آموزشی</li>
                        </ul>
                    </div>
                </div>							
            </div>
            
            <div class="col-lg-4 col-md-4 col-sm-6">
                <div class="edu_cat_2 cat-4">
                    <div class="edu_cat_icons">
                        <a class="pic-main" href="#"><img src="{{ url_for('static', filename='img/python.png') }}" class="img-fluid" alt="" /></a>
                    </div>
                    <div class="edu_cat_data">
                        <h4 class="title"><a href="#">برنامه نویسی وب</a></h4>
                        <ul class="meta">
                            <li class="video"><i class="ti-video-clapper"></i>65 دوره آموزشی</li>
                        </ul>
                    </div>
                </div>							
            </div>
            
            <div class="col-lg-4 col-md-4 col-sm-6">
                <div class="edu_cat_2 cat-10">
                    <div class="edu_cat_icons">
                        <a class="pic-main" href="#"><img src="{{ url_for('static', filename='img/designer.png') }}" class="img-fluid" alt="" /></a>
                    </div>
                    <div class="edu_cat_data">
                        <h4 class="title"><a href="#">طراحی و گرافیک</a></h4>
                        <ul class="meta">
                            <li class="video"><i class="ti-video-clapper"></i>43 دوره آوزشی</li>
                        </ul>
                    </div>
                </div>							
            </div>
            
            <div class="col-lg-4 col-md-4 col-sm-6">
                <div class="edu_cat_2 cat-6">
                    <div class="edu_cat_icons">
                        <a class="pic-main" href="#"><img src="{{ url_for('static', filename='img/speaker.png') }}" class="img-fluid" alt="" /></a>
                    </div>
                    <div class="edu_cat_data">
                        <h4 class="title"><a href="#">بورس و بازار سهام</a></h4>
                        <ul class="meta">
                            <li class="video"><i class="ti-video-clapper"></i>82 دوره آموزشی</li>
                        </ul>
                    </div>
                </div>							
            </div>
            
            <div class="col-lg-4 col-md-4 col-sm-6">
                <div class="edu_cat_2 cat-7">
                    <div class="edu_cat_icons">
                        <a class="pic-main" href="#"><img src="{{ url_for('static', filename='img/photo.png') }}" class="img-fluid" alt="" /></a>
                    </div>
                    <div class="edu_cat_data">
                        <h4 class="title"><a href="#">هنر و عکاسی</a></h4>
                        <ul class="meta">
                            <li class="video"><i class="ti-video-clapper"></i>25 دوره آموزشی</li>
                        </ul>
                    </div>
                </div>							
            </div>
            
            <div class="col-lg-4 col-md-4 col-sm-6">
                <div class="edu_cat_2 cat-8">
                    <div class="edu_cat_icons">
                        <a class="pic-main" href="#"><img src="{{ url_for('static', filename='img/yoga.png') }}" class="img-fluid" alt="" /></a>
                    </div>
                    <div class="edu_cat_data">
                        <h4 class="title"><a href="#">ورزش و سلامتی</a></h4>
                        <ul class="meta">
                            <li class="video"><i class="ti-video-clapper"></i>43 دوره آموزشی</li>
                        </ul>
                    </div>
                </div>							
            </div>
            
            <div class="col-lg-4 col-md-4 col-sm-6">
                <div class="edu_cat_2 cat-9">
                    <div class="edu_cat_icons">
                        <a class="pic-main" href="#"><img src="{{ url_for('static', filename='img/health.png') }}" class="img-fluid" alt="" /></a>
                    </div>
                    <div class="edu_cat_data">
                        <h4 class="title"><a href="#">سبک زندگی</a></h4>
                        <ul class="meta">
                            <li class="video"><i class="ti-video-clapper"></i>38 دوره آموزشی</li>
                        </ul>
                    </div>
                </div>							
            </div>
        </div>
    
</div>
</section>
<!-- ========================== Featured Category Section =============================== -->
<!-- ============================ Featured Courses Start ================================== -->
<section class="gray-bg">
    <div class="container">
    
        <div class="row justify-content-center">
            <div class="col-lg-5 col-md-6 col-sm-12">
                <div class="sec-heading center">
                    <p>دسته بندی های منتخب</p>
                    <h2>موضوعات و محورهای آموزشی <span class="theme-cl">پرمنتخب</span></h2>
                </div>
            </div>
        </div>
        
        <div class="row">
            
            <!-- Cource Grid 1 -->
            <div class="col-xl-6 col-lg-12 col-md-12 col-sm-12">
                <div class="education_block_list_layout">
                    
                    <div class="education_block_thumb n-shadow">
                        <a href="course-detail.html"><img src="{{ url_for('static', filename='img/co-2.jpg') }}" class="img-fluid" alt=""></a>
                    </div>
                    
                    <div class="list_layout_ecucation_caption">
                    
                        <div class="education_block_body">
                            <h4 class="bl-title"><a href="course-detail.html">آموزش کار با وکتور در فتوشاپ</a></h4>
                            <div class="course_rate_system">
                                <div class="course_ratting">
                                    <i class="fa fa-star filled"></i>
                                    <i class="fa fa-star filled"></i>
                                    <i class="fa fa-star filled"></i>
                                    <i class="fa fa-star filled"></i>
                                    <i class="fa fa-star"></i>
                                </div>
                                <div class="course_reviews_info">
                                    <strong class="high">4.7</strong>(2,420 امتیاز ثبت شده)
                                </div>											
                            </div>
                            <div class="cources_price">138ت<div class="less_offer">199ت</div></div>
                        </div>

                        <div class="education_block_footer mt-3">
                            <div class="education_block_author">
                                <div class="path-img"><a href="instructor-detail.html"><img src="{{ url_for('static', filename='img/user-1.jpg') }}" class="img-fluid" alt=""></a></div>
                                <h5><a href="instructor-detail.html">رابرت ویلسون</a></h5>
                            </div>
                            <div class="cources_info_style3">
                                <ul>
                                    <li><div class="foot_lecture"><i class="ti-control-skip-forward ml-2"></i>54 دوره</div></li>
                                </ul>
                            </div>
                        </div>
                    
                    </div>
                    
                </div>	
            </div>
            
            <!-- Cource Grid 1 -->
            <div class="col-xl-6 col-lg-12 col-md-12 col-sm-12">
                <div class="education_block_list_layout">
                    
                    <div class="education_block_thumb n-shadow">
                        <a href="course-detail.html"><img src="{{ url_for('static', filename='img/co-3.jpg') }}" class="img-fluid" alt=""></a>
                    </div>
                    
                    <div class="list_layout_ecucation_caption">
                    
                        <div class="education_block_body">
                            <h4 class="bl-title"><a href="course-detail.html">آموزش تبدیل PSD به HTML (یک)</a></h4>
                            <div class="course_rate_system">
                                <div class="course_ratting">
                                    <i class="fa fa-star filled"></i>
                                    <i class="fa fa-star filled"></i>
                                    <i class="fa fa-star filled"></i>
                                    <i class="fa fa-star filled"></i>
                                    <i class="fa fa-star"></i>
                                </div>
                                <div class="course_reviews_info">
                                    <strong class="mid">4.8</strong>(2,300 امتیاز ثبت شده)
                                </div>											
                            </div>
                            <div class="cources_price">523ت<div class="less_offer">872ت</div></div>
                        </div>

                        <div class="education_block_footer mt-3">
                            <div class="education_block_author">
                                <div class="path-img"><a href="instructor-detail.html"><img src="{{ url_for('static', filename='img/user-2.jpg') }}" class="img-fluid" alt=""></a></div>
                                <h5><a href="instructor-detail.html">ریتا رابرت</a></h5>
                            </div>
                            <div class="cources_info_style3">
                                <ul>
                                    <li><div class="foot_lecture"><i class="ti-control-skip-forward ml-2"></i>14 دوره</div></li>
                                </ul>
                            </div>
                        </div>
                    
                    </div>
                    
                </div>	
            </div>
            
            <!-- Cource Grid 1 -->
            <div class="col-xl-6 col-lg-12 col-md-12 col-sm-12">
                <div class="education_block_list_layout">
                    
                    <div class="education_block_thumb n-shadow">
                        <a href="course-detail.html"><img src="{{ url_for('static', filename='img/co-4.jpg') }}" class="img-fluid" alt=""></a>
                    </div>
                    
                    <div class="list_layout_ecucation_caption">
                    
                        <div class="education_block_body">
                            <h4 class="bl-title"><a href="course-detail.html">آموزش برنامه نویسی‌اندروید</a></h4>
                            <div class="course_rate_system">
                                <div class="course_ratting">
                                    <i class="fa fa-star filled"></i>
                                    <i class="fa fa-star filled"></i>
                                    <i class="fa fa-star filled"></i>
                                    <i class="fa fa-star filled"></i>
                                    <i class="fa fa-star"></i>
                                </div>
                                <div class="course_reviews_info">
                                    <strong class="good">4.2</strong>(810امتیاز ثبت شده)
                                </div>											
                            </div>
                            <div class="cources_price">365ت<div class="less_offer">429ت</div></div>
                        </div>

                        <div class="education_block_footer mt-3">
                            <div class="education_block_author">
                                <div class="path-img"><a href="instructor-detail.html"><img src="{{ url_for('static', filename='img/user-3.jpg') }}" class="img-fluid" alt=""></a></div>
                                <h5><a href="instructor-detail.html">آدام رابرت</a></h5>
                            </div>
                            <div class="cources_info_style3">
                                <ul>
                                    <li><div class="foot_lecture"><i class="ti-control-skip-forward ml-2"></i>25 دوره</div></li>
                                </ul>
                            </div>
                        </div>
                    
                    </div>
                    
                </div>	
            </div>
            
            <!-- Cource Grid 1 -->
            <div class="col-xl-6 col-lg-12 col-md-12 col-sm-12">
                <div class="education_block_list_layout">
                    
                    <div class="education_block_thumb n-shadow">
                        <a href="course-detail.html"><img src="{{ url_for('static', filename='img/co-5.jpg') }}" class="img-fluid" alt=""></a>
                    </div>
                    
                    <div class="list_layout_ecucation_caption">
                    
                        <div class="education_block_body">
                            <h4 class="bl-title"><a href="course-detail.html">آموزش ساخت ربات تلگرام با PHP</a></h4>
                            <div class="course_rate_system">
                                <div class="course_ratting">
                                    <i class="fa fa-star filled"></i>
                                    <i class="fa fa-star filled"></i>
                                    <i class="fa fa-star filled"></i>
                                    <i class="fa fa-star filled"></i>
                                    <i class="fa fa-star"></i>
                                </div>
                                <div class="course_reviews_info">
                                    <strong class="mid">4.3</strong>(3,122 امتیاز ثبت شده)
                                </div>											
                            </div>
                            <div class="cources_price">620ت<div class="less_offer">503ت</div></div>
                        </div>

                        <div class="education_block_footer mt-3">
                            <div class="education_block_author">
                                <div class="path-img"><a href="instructor-detail.html"><img src="{{ url_for('static', filename='img/user-4.jpg') }}" class="img-fluid" alt=""></a></div>
                                <h5><a href="instructor-detail.html">شیلپا سینگ</a></h5>
                            </div>
                            <div class="cources_info_style3">
                                <ul>
                                    <li><div class="foot_lecture"><i class="ti-control-skip-forward ml-2"></i>54 دوره</div></li>
                                </ul>
                            </div>
                        </div>
                    
                    </div>
                    
                </div>	
            </div>
            
            <!-- Cource Grid 1 -->
            <div class="col-xl-6 col-lg-12 col-md-12 col-sm-12">
                <div class="education_block_list_layout">
                    
                    <div class="education_block_thumb n-shadow">
                        <a href="course-detail.html"><img src="{{ url_for('static', filename='img/co-6.jpg') }}" class="img-fluid" alt=""></a>
                    </div>
                    
                    <div class="list_layout_ecucation_caption">
                    
                        <div class="education_block_body">
                            <h4 class="bl-title"><a href="course-detail.html">آموزش ASP.Net - ساخت سایت شخصی</a></h4>
                            <div class="course_rate_system">
                                <div class="course_ratting">
                                    <i class="fa fa-star filled"></i>
                                    <i class="fa fa-star filled"></i>
                                    <i class="fa fa-star filled"></i>
                                    <i class="fa fa-star filled"></i>
                                    <i class="fa fa-star"></i>
                                </div>
                                <div class="course_reviews_info">
                                    <strong class="good">4.5</strong>(2,540 امتیاز ثبت شده)
                                </div>											
                            </div>
                            <div class="cources_price">750ت<div class="less_offer">963ت</div></div>
                        </div>

                        <div class="education_block_footer mt-3">
                            <div class="education_block_author">
                                <div class="path-img"><a href="instructor-detail.html"><img src="{{ url_for('static', filename='img/user-5.jpg') }}" class="img-fluid" alt=""></a></div>
                                <h5><a href="instructor-detail.html">آدام ولیسون</a></h5>
                            </div>
                            <div class="cources_info_style3">
                                <ul>
                                    <li><div class="foot_lecture"><i class="ti-control-skip-forward ml-2"></i>70 دوره</div></li>
                                </ul>
                            </div>
                        </div>
                    
                    </div>
                    
                </div>	
            </div>
            
            <!-- Cource Grid 1 -->
            <div class="col-xl-6 col-lg-12 col-md-12 col-sm-12">
                <div class="education_block_list_layout">
                    
                    <div class="education_block_thumb n-shadow">
                        <a href="course-detail.html"><img src="{{ url_for('static', filename='img/co-7.jpg') }}" class="img-fluid" alt=""></a>
                    </div>
                    
                    <div class="list_layout_ecucation_caption">
                    
                        <div class="education_block_body">
                            <h4 class="bl-title"><a href="course-detail.html">آموزش ساخت فروشگاه دیجی استایل با لاراول</a></h4>
                            <div class="course_rate_system">
                                <div class="course_ratting">
                                    <i class="fa fa-star filled"></i>
                                    <i class="fa fa-star filled"></i>
                                    <i class="fa fa-star filled"></i>
                                    <i class="fa fa-star filled"></i>
                                    <i class="fa fa-star"></i>
                                </div>
                                <div class="course_reviews_info">
                                    <strong class="mid">4.7</strong>(3,750 امتیاز ثبت شده)
                                </div>											
                            </div>
                            <div class="cources_price">630ت<div class="less_offer">851ت</div></div>
                        </div>

                        <div class="education_block_footer mt-3">
                            <div class="education_block_author">
                                <div class="path-img"><a href="instructor-detail.html"><img src="{{ url_for('static', filename='img/user-6.jpg') }}" class="img-fluid" alt=""></a></div>
                                <h5><a href="instructor-detail.html">الهام کریمی</a></h5>
                            </div>
                            <div class="cources_info_style3">
                                <ul>
                                    <li><div class="foot_lecture"><i class="ti-control-skip-forward ml-2"></i>26 دوره</div></li>
                                </ul>
                            </div>
                        </div>
                    
                    </div>
                    
                </div>	
            </div>
            
            
        </div>
        
    </div>
</section>
<!-- ============================ Featured Courses End ================================== -->

<!-- ========================== About Facts List Section =============================== -->
<section>
    <div class="container">
        
        <div class="row align-items-center">
        
            <div class="col-lg-6 col-md-6 col-sm-12">
                <div class="about-short">
                    <div class="sec-heading mb-3">
                        <h2>مسیرهای <span class="theme-cl">یادگیری </span>و مجموعه های آموزشی</h2>
                    </div>
                    <p>حال و آینده شناخت فراوان جامعه و متخصصان را می طلبد تا با نرم افزارها شناخت بیشتری را برای طراحان رایانه ای علی الخصوص طراحان خلاقی و فرهنگ پیشرو در زبان فارسی ایجاد کرد.</p>
                    <p>برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد. کتابهای زیادی در شصت و سه درصد گذشته، حال و آینده شناخت فراوان جامعه و متخصصان را می طلبد تا با نرم افزارها شناخت بیشتری را برای طراحان رایانه ای علی الخصوص طراحان خلاقی و فرهنگ پیشرو در زبان فارسی ایجاد کرد.</p>
                    <div class="cource_facts">
                        <ul>
                            <li><span class="theme-cl">7+</span>ساعت آموزش</li>
                            <li><span class="theme-cl">77</span>نفر دانشجو</li>
                            <li><span class="theme-cl">84+</span>حوزه تخصصی</li>
                        </ul>
                    </div>
                    <a href="#" class="btn btn-modern">درباره ما<span><i class="ti-arrow-left"></i></span></a>
                </div>
            </div>
            
            <div class="col-lg-6 col-md-6 col-sm-12">
                <div class="list_facts_wrap_img">
                
                    <img src="{{ url_for('static', filename='img/edu_2.png') }}" class="img-fluid" alt="">
                    
                </div>
            </div>

        </div>
        
    </div>
</section>
<!-- ========================== About Facts List Section =============================== -->

<!-- ============================ Featured Instructor Start ================================== -->
<section class="pt-0">
    <div class="container">
    
        <div class="row justify-content-center">
            <div class="col-lg-5 col-md-6 col-sm-12">
                <div class="sec-heading center">
                    <p>اساتید برتر</p>
                    <h2>معلم های <span class="theme-cl">تدریس خصوصی</span> درس های مختلف</h2>
                </div>
            </div>
        </div>
        
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12">
            
                <div class="four_slide-dots articles arrow_middle" dir="rtl">
                    
                    <!-- Single Slide -->
                    <div class="singles_items">
                        <div class="instructor_wrap mid">
                            <div class="instructor_thumb">
                                <a href="instructor-detail.html"><img src="{{ url_for('static', filename='img/user-1.jpg') }}" class="img-fluid" alt=""></a>
                            </div>
                            <div class="instructor_caption">
                                <h4><a href="instructor-detail.html">دانیل دیوانسکر</a></h4>
                                <span class="skills-min">طراح وب</span>
                                <ul class="colored">
                                    <li><a href="#" class="cl-fb"><i class="ti-facebook"></i></a></li>
                                    <li><a href="#" class="cl-google"><i class="ti-google"></i></a></li>
                                    <li><a href="#" class="cl-twitter"><i class="ti-twitter"></i></a></li>
                                </ul>
                            </div>
                            
                            <div class="cources_info_style3">
                                <ul>
                                    <li><i class="ti-user mr-2"></i>32نفر دانشجو</li>
                                    <li><i class="ti-book mr-2"></i>3 دوره آموزشی</li>
                                </ul>
                            </div>
                            
                        </div>
                    </div>
                    
                    <!-- Single Slide -->
                    <div class="singles_items">
                        <div class="instructor_wrap mid">
                            <div class="instructor_thumb">
                                <a href="instructor-detail.html"><img src="{{ url_for('static', filename='img/user-2.jpg') }}" class="img-fluid" alt=""></a>
                            </div>
                            <div class="instructor_caption">
                                <h4><a href="instructor-detail.html">نیلوفر صمدی</a></h4>
                                <span class="skills-min">مدیر پروژه</span>
                                <ul class="colored">
                                    <li><a href="#" class="cl-fb"><i class="ti-facebook"></i></a></li>
                                    <li><a href="#" class="cl-google"><i class="ti-google"></i></a></li>
                                    <li><a href="#" class="cl-twitter"><i class="ti-twitter"></i></a></li>
                                </ul>
                            </div>
                            <div class="cources_info_style3">
                                <ul>
                                    <li><i class="ti-user mr-2"></i>40نفر دانشجو</li>
                                    <li><i class="ti-book mr-2"></i>3 دوره آموزشی</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    
                    <!-- Single Slide -->
                    <div class="singles_items">
                        <div class="instructor_wrap mid">
                            <div class="instructor_thumb">
                                <a href="instructor-detail.html"><img src="{{ url_for('static', filename='img/user-3.jpg') }}" class="img-fluid" alt=""></a>
                            </div>
                            <div class="instructor_caption">
                                <h4><a href="instructor-detail.html">آدام ویستون</a></h4>
                                <span class="skills-min">مدیر فروش</span>
                                <ul class="colored">
                                    <li><a href="#" class="cl-fb"><i class="ti-facebook"></i></a></li>
                                    <li><a href="#" class="cl-google"><i class="ti-google"></i></a></li>
                                    <li><a href="#" class="cl-twitter"><i class="ti-twitter"></i></a></li>
                                </ul>
                            </div>
                            <div class="cources_info_style3">
                                <ul>
                                    <li><i class="ti-user mr-2"></i>60نفر دانشجو</li>
                                    <li><i class="ti-book mr-2"></i>3 دوره آموزشی</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    
                    <!-- Single Slide -->
                    <div class="singles_items">
                        <div class="instructor_wrap mid">
                            <div class="instructor_thumb">
                                <a href="instructor-detail.html"><img src="{{ url_for('static', filename='img/user-4.jpg') }}" class="img-fluid" alt=""></a>
                            </div>
                            <div class="instructor_caption">
                                <h4><a href="instructor-detail.html">شادی فلاح</a></h4>
                                <span class="skills-min">برنامه نویس</span>
                                <ul class="colored">
                                    <li><a href="#" class="cl-fb"><i class="ti-facebook"></i></a></li>
                                    <li><a href="#" class="cl-google"><i class="ti-google"></i></a></li>
                                    <li><a href="#" class="cl-twitter"><i class="ti-twitter"></i></a></li>
                                </ul>
                            </div>
                            <div class="cources_info_style3">
                                <ul>
                                    <li><i class="ti-user mr-2"></i>45نفر دانشجو</li>
                                    <li><i class="ti-book mr-2"></i>2 دوره آموزشی</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    
                    <!-- Single Slide -->
                    <div class="singles_items">
                        <div class="instructor_wrap mid">
                            <div class="instructor_thumb">
                                <a href="instructor-detail.html"><img src="{{ url_for('static', filename='img/user-5.jpg') }}" class="img-fluid" alt=""></a>
                            </div>
                            <div class="instructor_caption">
                                <h4><a href="instructor-detail.html">وحید فرخ زاده</a></h4>
                                <span class="skills-min">مدیر عامل</span>
                                <ul class="colored">
                                    <li><a href="#" class="cl-fb"><i class="ti-facebook"></i></a></li>
                                    <li><a href="#" class="cl-google"><i class="ti-google"></i></a></li>
                                    <li><a href="#" class="cl-twitter"><i class="ti-twitter"></i></a></li>
                                </ul>
                            </div>
                            <div class="cources_info_style3">
                                <ul>
                                    <li><i class="ti-user mr-2"></i>60نفر دانشجو</li>
                                    <li><i class="ti-book mr-2"></i>3 دوره آموزشی</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                
                </div>
            
            </div>
        </div>
        
    </div>
</section>
<!-- ============================ Featured Instructor End ================================== -->

<!-- ========================== Articles Section =============================== -->
<section class="bg-light min-sec">
    <div class="container">
    
        <div class="row justify-content-center">
            <div class="col-lg-12 col-md-12">
                <div class="sec-heading-flex">
                    <h2 class="pl-2">آخرین اخبار</h2>
                </div>
            </div>
        </div>
        
        <div class="row">
                    
            <!-- Single Article -->
            <div class="col-lg-4 col-md-4 col-sm-12">
                <div class="articles_grid_style">
                    <div class="articles_grid_thumb">
                        <a href="blog-detail.html"><img src="{{ url_for('static', filename='img/b-1.jpg') }}" class="img-fluid" alt="" /></a>
                    </div>
                    
                    <div class="articles_grid_caption">
                        <h4>چطور زبان انگلیسی را سریع یاد بگیریم؟</h4>
                        <div class="articles_grid_author">
                            <div class="articles_grid_author_img"><img src="{{ url_for('static', filename='img/user-1.jpg') }}" class="img-fluid" alt="" /></div>
                            <h4>آدام ویلسون</h4>
                        </div>
                    </div>
                </div>
            </div>
            
            <!-- Single Article -->
            <div class="col-lg-4 col-md-4 col-sm-12">
                <div class="articles_grid_style">
                    <div class="articles_grid_thumb">
                        <a href="blog-detail.html"><img src="{{ url_for('static', filename='img/b-2.jpg') }}" class="img-fluid" alt="" /></a>
                    </div>
                    
                    <div class="articles_grid_caption">
                        <h4>لزوم یادگیری زبان در دنیای امروزی!</h4>
                        <div class="articles_grid_author">
                            <div class="articles_grid_author_img"><img src="{{ url_for('static', filename='img/user-2.jpg') }}" class="img-fluid" alt="" /></div>
                            <h4>جان اسمیت</h4>
                        </div>
                    </div>
                </div>
            </div>
            
            <!-- Single Article -->
            <div class="col-lg-4 col-md-4 col-sm-12">
                <div class="articles_grid_style">
                    <div class="articles_grid_thumb">
                        <a href="blog-detail.html"><img src="{{ url_for('static', filename='img/b-3.jpg') }}" class="img-fluid" alt="" /></a>
                    </div>
                    
                    <div class="articles_grid_caption">
                        <h4>چطور امتحان حضوری موفقی داشته باشیم؟</h4>
                        <div class="articles_grid_author">
                            <div class="articles_grid_author_img"><img src="{{ url_for('static', filename='img/user-3.jpg') }}" class="img-fluid" alt="" /></div>
                            <h4>دنیل ویکیونز</h4>
                        </div>
                    </div>
                </div>
            </div>
        
        </div>
    </div>
</section>
<!-- ========================== Articles Section =============================== -->

<!-- ========================== Brand Section =============================== -->
<section>
    <div class="container">
        
        <div class="row justify-content-center">
            <div class="col-lg-5 col-md-6 col-sm-12">
                <div class="sec-heading center">
                    <p>آموزشگاه های معتبر</p>
                    <h2>نمایندگان <span class="theme-cl">مورد اعتماد</span> حرفه ای ما</h2>
                </div>
            </div>
        </div>
    
        <div class="row">
            <div class="col-lg-12 col-md-12">
                <div class="single_brand" id="brand-slide">
                    
                    <!-- single -->
                    <div class="single_brands">
                        <img src="{{ url_for('static', filename='img/brand-1.png') }}" class="img-fluid" alt="" />
                    </div>
                    
                    <!-- single -->
                    <div class="single_brands">
                        <img src="{{ url_for('static', filename='img/brand-2.png') }}" class="img-fluid" alt="" />
                    </div>
                    
                    <!-- single -->
                    <div class="single_brands">
                        <img src="{{ url_for('static', filename='img/brand-3.png') }}" class="img-fluid" alt="" />
                    </div>
                    
                    <!-- single -->
                    <div class="single_brands">
                        <img src="{{ url_for('static', filename='img/brand-4.png') }}" class="img-fluid" alt="" />
                    </div>
                    
                    <!-- single -->
                    <div class="single_brands">
                        <img src="{{ url_for('static', filename='img/brand-5.png') }}" class="img-fluid" alt="" />
                    </div>
                    
                    <!-- single -->
                    <div class="single_brands">
                        <img src="{{ url_for('static', filename='img/brand-6.png') }}" class="img-fluid" alt="" />
                    </div>
                    
                    <!-- single -->
                    <div class="single_brands">
                        <img src="{{ url_for('static', filename='img/brand-7.png') }}" class="img-fluid" alt="" />
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ========================== Brand Section =============================== -->

<!-- ============================== Start Newsletter ================================== -->
<section class="newsletter theme-bg inverse-theme">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-7 col-md-8 col-sm-12">
                <div class="text-center">
                    <h2>به جامعه هزاران دانشجو بپیوندید!</h2>
                    <p>به جامعه میلیونی دانشجویان ما بپیوندید و به هزاران ساعت آموزش در حوزه‌های گوناگون دسترسی داشته باشید.</p>
                    <form class="sup-form">
                        <input type="email" class="form-control sigmup-me" placeholder="ایمیل خود را وارد کنید..." required="required">
                        <input type="submit" class="btn btn-theme" value="عضویت">
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ================================= End Newsletter =============================== -->
{% endblock %}